
/* ~~~~~~~header~~~~~~~~ */



.head {
  justify-content: space-between;
}


.navbar-item {
  margin-top: 1.5em;
  color: black;
  border-radius: 40px;
}

.user-icon {
  margin-right: 1.5em;
}
/* ~~~~~~~body~~~~~~~ */
.result{
  text-align: center;
  margin-top: 25px;
  background-color: #00e308;
  
}
.top-padding{
  padding-top: 10px;
}
.columns {
  justify-content: center;
}

.container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.media{
  background-color: #e8e8e8;
  color: darkslategray;
  padding: 5px 10px 5px 10px;
  margin: 1rem;
  border: .5px solid wheat;
  border-radius: 30px;
}
.img-icon {
  border-radius: 20px;
}


/* tiles index2.html */






/* cook it search button */
.field {
  margin-left: 20%;
  padding-right: 20%;
}
.input {
  
  border-radius: 100px;
}
.button {
  border-radius: 100px;
}



/* ~~~~~~footer~~~~~~~~~ */




/* testing something */

