/* header */









/* body */
.cookit2-height {
  height: 93vh;
}
.top-margin{
  justify-items: center;
}

/* input  && button */
.input, .button{
  border-radius: 100px;
}


/* log in /// sign up */




/* footer */
.footer {
  padding: 0;
  margin-top: 37vh;
}